label{
    font-size: 25px;

}
input{
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}
input:focus{
    border: 2px solid greenyellow;
}
button{
    border-radius: 12px;
    
}


@media screen and (max-width:576px) {
    #header{
        width: 90%;
        margin: 20px auto;
    }
    #img{
        width: 50px;
    }
    #text-one{
        font-size: 30px;
    }
}