label{
    font-size: 25px;

}
input{
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}
input:focus{
    border: 2px solid greenyellow;
}
button{
    border-radius: 12px;
}




@media screen and (max-width:576px) {
    #header{
        width: 80%;
        margin: auto;
    }
    body{
        background-color: lightgreen;
    }
}