label,#bank{
    font-size: 25px;

}
input{
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}
input:focus{
    border: 2px solid greenyellow;
}
button{
    border-radius: 12px;
    
}
#banker{
    outline: none;
    border-radius: 12px;
}
#banker:focus{
    border: 2px solid lightgreen;
}
#cash-out{
    max-width: 390px;
    margin: 40px auto;
}
#add-money{
    max-width: 390px;
    margin: 40px auto;
}

@media screen and (max-width:576px) {
    #header{
        width: 90%;
        margin: 20px auto;
    }
    #img{
        width: 50px;
    }
    #text-one{
        font-size: 30px;
    }
}